/* 
* ACCORDION
* this component is located inside FAQ section
*
* based on tutorial published in link below
* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol 
* this piece of code is not copied from any framework.
*/

.accordion {
    @media screen and (max-width: $phone-screen) {
        padding: 3rem 2rem 2rem 2rem !important;
        font-size: 1.4rem !important;

        .panel {
            p {
                font-size: 1.4rem !important;
            }
        }
    }

    padding: 3.6rem 4rem 3.6rem 4rem;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font-family: $font-stack-secondary;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: $default-text-color;
    border-radius: 10px;

    // animation
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    // transition: 0.1s;

    &:hover {
        background-color: $background-grey;
    }

    &:after {
        content: url("../icons/arrow-right.svg");
        float: right;
    }

    &.active {
        background-color: $background-grey;
        border-radius: 10px 10px 0 0;
        padding: 3.6rem 4rem 0 4rem;
    }

    &.active:after {
        content: url("../icons/arrow-up.svg");
    }
}

.panel {
    @media screen and (max-width: $phone-screen) {
        p {
            font-size: 1.4rem !important;
            line-height: 1.9rem !important;
        }
    }
    font-family: $font-stack-secondary;
    color: $default-text-color;
    background-color: $background-grey;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: left;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;

    // transition: max-height 0.2s ease-out;
    transition-property: max-height, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.active-panel {
    padding: 0 4rem 3.6rem 4rem;
}