/*
* BASE
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// BREAK POINT SIZE FOR MEDIA QUERY
$phone-screen: 480px; // or 576 for portrait phones
$tablet-screen: 768px;
$computer-screen: 992px;
$bigger-screen: 1200px;

// fonts variables
$font-stack-primary: "Roboto",
sans-serif;
$font-stack-secondary: "Open Sans",
sans-serif;

// text colors variables
$default-text-color: #5f6a6c;
$text-color-white: #fff;
$text-color-dark-grey: #9D9D9D;
$default-link-color: #5f6a6c;
$link-blue-color: #14aaff;
$title-primary-color: #4c525a;
$title-secondary-color: #2f80ed;
$title-footer-column: #2D9CDB;

// background colores variables
$background-white: #fff;
$background-grey: #F2F2F2;
$background-light-grey:#E4E5E9;
$backgroud-dark-grey: #cdcdcd;
$background-orage: #f2994a;
$background-blue: #2F80ED;
$background-light-blue:#1296FC;
$background-dark-blue: #084CBD;

// border color variables
$default-border-color: #cdcdcd;
$border-orange-color: #f2994a;
$border-light-blue-color: #56CCF2;
$footer-border-top: #e4e5e9;

// text sizes variables
$rem-base-text-size: 10px;
$default-text-size: 2rem;
$title-text-size: 6rem;

// FONT SIZE FOR MOBILE
$mobile-title-text-size: 4.5rem;

/* default font family and size */
html {
    font-family: $font-stack-secondary;
    font-size: $rem-base-text-size;
    /* for simple use of rem (relative size) */
}

/* flex in body to easier positioning of elements */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    @media screen and (max-width: $phone-screen) {
        font-size: $mobile-title-text-size;
        font-weight: bold !important;
        line-height: 49px !important;
        margin: 0 2rem 0 2rem;
    }

    font-family: $font-stack-primary;
    font-weight: 700;
    font-size: $title-text-size;
    margin: 0.1rem;
    text-align: center;

    &.primary {
        color: $title-primary-color;
    }

    &.secondary {
        color: $title-secondary-color;
    }
}

/* global styling for tag section 
 *   - padding margins for all sections */
// section {
//     padding-left: 1rem;
//     padding-right: 1rem;
// }

// TODO: REMOVE IT, WHEN FINISH MOBILE LAYOUT
@media screen and (max-width: $phone-screen) {
    // hidden sections of no interest while coding mobile layout
    // nav.main-navbar{display: none;}
    // section.main {display: none !important;}
    // section.plan-selection {display: none !important;}
    // section.footnote {display: none !important;}
    // section.banner {display: none !important;}
    // section.faq {display: none !important;}
    // section.video {display: none !important;}
    // section.footer {display: none !important;}
    // when doning a section comment to show de content on page in mobile viewing
}