/* 
* MAIN NAVBAR
*/
nav.main-navbar {
    height: auto;
    padding: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    // @media screen and (min-width: calc($phone-screen + 1px)) {
    // }

    // by default mobile toggle menu button is hidden
    .mobile-toggle-menu {
        input[type="checkbox"], span {
            display: none;
        }
    }

    @media screen and (max-width: $phone-screen) {
        padding: 1.3rem 2.1rem 0rem 2.1rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
        max-height: 5rem;

        .nav-items-right {
            .mobile-toggle-menu {
                input[type="checkbox"], span {
                    display: unset;
                }
    
                .toggle-button {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
    
                    span {
                        z-index: 0;
                        border-radius: 100px;
                        background-color: #016699;
                        height: 0.4rem;
                        margin-bottom: 0.4rem;
                        transform: translateY(-1rem);
                        // position: absolute;
                        
                        // nth-child(1) is the input[type=checkbox]
                        &:nth-child(2){ width: 20px; }
                        &:nth-child(3){ width: 16px; }
                        &:nth-child(4){ width: 12px; }
    
                        // animation
                        transition-property: transform opacity;
                        transition-duration: 0.3s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 0s;
                    }
    
                    input[type="checkbox"] {
                        z-index: 1;
                        margin: 0;
                        width: 2.5rem;
                        height: 2.5rem;
                        position: static;
                        opacity: 0; // set to zero to hide the checkbox
                        transform: translateY(50%);
    
                        // when checked do:
                        // 1 - turn span bars into X
                        // 2 - show menu options
                        &:checked~span:nth-child(2){
                            position: static;
                            width: 20px;
                            transform: rotate(45deg) translate(-4px, 0);
                        }
    
                        &:checked~span:nth-child(3){
                            position: static;
                            width: 20px;
                            transform: rotate(-45deg) translate(6px, -9px);
                        }
    
                        &:checked~span:nth-child(4){
                            opacity: 0;
                            position: static;
                        }

                        &:checked~ul{
                            visibility: visible;
                            opacity: 1;
                            transform: rotateX(0), translate(0, 0);
                        }
                    }
                }
            }

            ul {
                padding: 0;
                margin: 5rem 0 0 0;
                position: absolute;
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                background-color: $background-white;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
                left: 0;
                text-align: center;
                align-items: center;
                justify-content: space-between;
                
                // properties to change in transition
                visibility: hidden;
                opacity: 0;
                transform: rotateX(90deg), translate(0, -100%);
                
                // animation
                transition-property: transform opacity;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                transition-delay: 0s;

                li {
                    margin: 0;
                    padding: 1rem;
                    text-align: center;
                    width: 100%;
                    border-top: 1px solid $background-light-grey;
                }
            }
        }
    }
    
    /* 1/3 space for the logo */
    .nav-items-left {
        flex-grow: 1;
    }

    /* 2/3 space for link (more space to links) */
    .nav-items-right {
        flex-grow: 2;
    }

    /* display ul inline style */
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: right;

        li {
            /* add space between links */
            margin: 0 1rem;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: $default-link-color;
                font-size: 1.8rem;
                font-weight: 400;
            }

            &:last-child a {
                color: $link-blue-color;
            }
        }
    }
}