/*
* SECTION MAIN
*/
section.main {
    @media screen and (max-width: $phone-screen) {
        padding-top: 6rem;

        p {
            font-size: 16px !important;
            font-style: normal;
            font-weight: normal;
            margin: 2.5rem 2rem 0 2rem;
            line-height: 22px !important;
        }
    }

    p {
        font-family: $font-stack-secondary;
        font-size: 2.4rem;
        text-align: center;
        color: $default-text-color;
        margin-bottom: 6rem;
    }

    /* style for range slider */
    .range-slider {
        @media screen and (max-width: $phone-screen) {
            padding-left: 2rem;
            padding-right: 2rem;

            label {
                width: 90%;

                p {
                    display: block !important;
                    font-size: 1.5rem !important;
                    text-align: center;

                    em {
                        font-size: 2rem !important;
                        font-weight: bold !important;
                    }
                }
            }
        }

        padding-left: 10rem;
        padding-right: 10rem;

        label {
            position: absolute;
            display: block;

            p {
                position: relative;
                font-size: 1.6rem;
                font-weight: 600;
                margin: 0.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;

                em {
                    font-family: $font-stack-primary;
                    font-size: 3rem;
                    font-weight: 700;
                    margin-right: 1rem;
                }
            }
        }

        input[type="range"] {
            /* display: block; */
            -webkit-appearance: none;
            background-color: $background-grey;
            width: 100%;
            height: 1.5rem;
            border-radius: 10rem;
            margin-bottom: 2.5rem;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 80px;
                height: 50px;
                background: url("../icons/range-pin.svg");
                cursor: pointer;
            }
        }
    }
}