/*  
* SECTION VIDEO
*/
section.video {
    margin: 0;
    padding: 0;
}

.gradient-divisor {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom, $background-white 50%, $background-grey 5.1%, $background-grey 100%);
}

.blue-container {
    @media screen and (max-width: $phone-screen) {
        flex-direction: column;
        margin: 5.2rem 1rem 0 1rem;

        .texts {
            padding: 0 !important;
            margin: 0 !important;
            display: block;

            h1 {
                margin: 4rem 1rem 1rem 1rem !important;
                font-size: 2.5rem !important;
                line-height: 2.9rem !important;
                text-align: center !important;
            }

            p {
                text-align: center !important;
                font-size: 1.4rem !important;
                line-height: 1.9rem !important;
                margin: 0 1rem 0 1rem !important;
            }
        }

        .video-frame {
            padding: 0 !important;
            margin: 3rem 3.5rem 4rem 3.5rem !important;
            display: block;
        }
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $background-dark-blue;
    border: none;
    border-radius: 2rem;
    margin: 10rem 12rem 10rem 12rem;
    min-height: 40rem;

    .texts {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        color: $text-color-white;
        padding: 8.5rem 0 11.5rem 10rem;

        h1 {
            font-family: $font-stack-primary;
            font-style: normal;
            font-weight: 700;
            font-size: 3.6rem;
            padding: 0;
            margin: 0;
            text-align: left;
        }

        p {
            font-family: $font-stack-secondary;
            text-align: left;
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
            padding: 0;
            margin: 2rem 0 0 0;
        }
    }

    .video-frame {
        flex-grow: 1;
        padding: 7.4rem 11.4rem 10.6rem 6rem;

        iframe {
            height: 20rem;
            width: 30rem;
            border: 0.9rem solid $border-light-blue-color;
            border-radius: 20px;
        }
    }
}

.video-links {
    @media screen and (max-width: $phone-screen) {
        padding-bottom: 6rem !important;

        h1 {
            margin: 6rem 2rem 0 2rem !important;
            font-size: 3.5rem !important;
            line-height: 4rem;
        }

        .buttons {
            .button {
                display: block;
                margin-right: 3.8rem !important;
                margin-left: 3.8rem !important;
                
                &:nth-child(1) {
                    margin-top: 4rem !important;
                    margin-bottom: 2rem !important;
                }

                // &:nth-child(2) {
                //     margin-top: 4rem !important;
                //     margin-bottom: 2rem !important;
                // }
            }
        }
    }

    margin: 0;
    padding-bottom: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-grey;

    h1 {
        margin-top: 10rem;
        margin-bottom: 5.3rem;
        font-family: $font-stack-primary;
        font-style: normal;
        font-weight: 700;
        font-size: $title-text-size;
        color: $title-secondary-color;
    }

    .buttons {
        .button {
           text-decoration: none;
           font-family: $font-stack-secondary;
           font-style: normal;
           font-weight: 400;
           font-size: 1.8rem;
           color: $default-text-color;
           background: $background-light-grey;
           border: none;
           border-radius: 100px;
           padding: 1.1rem 3.3rem 1.1rem 3.3rem;

           &:first-child {
               background-color: $background-light-blue;
               background-repeat: no-repeat;
               background-position: 3.3rem 50%;
               padding-left: 5.3rem;
               background-image: url("../icons/play.svg");
               color: $text-color-white;
               margin-right: 2rem;
           }
       }
    }
}