/*
* SECTION FOOTNOTE
*/

section.footnote {
    @media screen and (max-width: $phone-screen) {
        font-size: 1.1rem !important;
        text-align: center !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    font-size: 1.2rem;
    font-family: $font-stack-secondary;
    font-weight: 600;
    margin-left: 11.7rem;
    color: $text-color-dark-grey;
}