/* 
* FOOTER SECTION 
*/
section.footer {
    @media screen and (max-width: $phone-screen) {
        // flex-direction: column !important;
        padding-top: 0 !important;
        // padding-left: 0 !important;
        
        .footer-links {
            padding: 0 !important;
            margin: 6rem 4rem 0rem 4rem !important;
            flex-direction: column !important;
            // display: block !important;
            // .column:nth-child(1){display: block;}
            .column img {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
            .column:nth-child(2){display: none;}
            .column:nth-child(3){display: none;}
            .column:nth-child(4){display: none;}
            // .column:nth-child(5){display: block;}
        }

        .blue-footer {
            flex-direction: column !important;
            // padding: 4rem 3rem 4rem 3rem !important;
            margin: 6rem 1rem 5.1rem 1rem !important;

            .info {
                p {
                    // padding: 0 !important;
                    font-size: 1.2rem !important;
                    line-height: 1.6rem !important;
                    // margin: 0 0 1rem 0 !important;
    
                    // margin: 0 !important;
                }

                p:nth-child(1){
                    margin-top: 4rem !important;
                    margin-left: 3rem !important;
                    margin-right: 3rem !important;
                    margin-bottom: 0 !important;
                }
                p:nth-child(2){
                    margin-top: 1rem !important;
                    margin-left: 3rem !important;
                    margin-right: 15rem !important;
                    margin-bottom: 1rem !important;
                }
                p:nth-child(3){
                    margin-top: 0 !important;
                    margin-left: 3rem !important;
                    margin-right: 7.5rem !important;
                    margin-bottom: 2rem !important;
                }
            }

            .social-links {
                width: 100%;
                margin-left: 3rem !important;
                margin-right: 0 !important;
                margin-bottom: 4rem !important;
                justify-content: flex-start !important;
                // align-items: flex-start !important;

            }
        }
    }

    margin: 0;
    padding: 9.7rem 2rem 4.7rem 2rem;
    /* padding: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $footer-border-top;
    background-color: $background-grey;

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding-left: 8.3rem;
        padding-right: 7.5rem;

        .column {
            flex-grow: 1;
        
            &:first-child img {
                margin-left: 30%;
                margin-right: 1rem;
            }
        
            h2 {
                font-family: $font-stack-primary;
                font-weight: 700;
                font-style: normal;
                font-size: 2rem;
                color: $title-footer-column;
                margin-bottom: 3.1rem;
                line-height: 0;
            }
        
            p {
                font-family: $font-stack-secondary;
                font-weight: 400;
                font-style: normal;
                font-size: 1.8rem;
                color: $default-text-color;
                margin-bottom: 1.2rem;
            }
        }
    }

    .blue-footer {
        margin: 5.8rem 2rem 0 2rem;
        width: 100%;
        min-height: 20rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $background-blue;
        color: $text-color-white;
        border-radius: 20px;

        .info {
            p {
               font-family: $font-stack-secondary;
               font-weight: 400;
               font-style: normal;
               font-size: 1.8rem;
               margin-left: 7.9rem;
           }
        }

        em.heart.icon::before {
            content: url("../icons/heart.svg");
        }

        .social-links {
            margin-right: 8.7rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a {
                margin-right: 1.1rem;
                &:last-of-type { margin-right: 0; }
            }
        }
    }
}

