/* 
* SECTION BANNER
* banner fixed on bottom until scroll 
*/
section.banner {
    @media screen and (max-width: $phone-screen) {
        flex-direction: column-reverse !important;
        padding: 0;
        margin: 0;
        min-height: 12rem !important;
        top: calc(100vh - 12rem) !important;

        p {
            font-size: 1.4rem !important;
            text-align: center !important;
            
            // text link 
            &:nth-child(1) {margin: 2rem 6rem 2.2rem 6rem !important;}

            // orange button
            &:nth-child(2) {
                margin: 4rem 5rem 0rem 5rem !important;
            }
            
            a {
                font-size: 1.4rem !important;

                &.link.default::before {
                    content: '\A';
                    display: block;
                }
            }
        }
    }

    /* display: none; */
    display: flex;
    flex-direction: row;
    min-height: 15rem;
    top: calc(100vh - 15rem);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: $background-white;
    box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.14);
    padding: 0 6rem 0 6rem;
    margin-bottom: 7rem;
    position: fixed;

    p {
        font-family: $font-stack-secondary;
        font-weight: 400;
        font-size: 2rem;
        color: $default-text-color;
        flex-grow: 1;

        &:nth-child(2) {
            text-align: right;
            margin-right: 12rem;
        }
    }

    a {
        text-decoration: none;
        cursor: pointer;

        &.orange.button {
            background: $background-orage;
            color: $text-color-white;
            font-family: $font-stack-secondary;
            font-weight: normal;
            font-size: 1.8rem;
            text-align: center;
            padding: 1.1rem 9rem 1.1rem 9rem;
            border-radius: 50px;
        }
    }

    .link.default {
        font-family: $font-stack-secondary;
        font-weight: 400;
        font-size: 2rem;
        color: $link-blue-color;
    }
}

.unpin-banner {
    // position: absolute !important;
    position: unset !important;
}