/* 
* SECTION FAQ 
*/
section.faq {
    @media screen and (max-width: $phone-screen) {
        margin-left: 2rem;
        margin-right: 2rem;

        .titles {
            h1 {
                font-size: 3rem !important;
                line-height: 3.5rem !important;
            }

            p {
                font-size: 1.6rem !important;
                line-height: 2.2rem !important;
            }
        }


    }

    margin-left: 4.2rem;
    margin-right: 4.2rem;

    .titles {
        h1 {
            font-family: $font-stack-primary;
            font-weight: 700;
            font-size: $title-text-size;
            margin: 0.1rem;
            text-align: center;

            &.primary {
                color: $title-primary-color;
            }

            &.secondary {
                color: $title-secondary-color;
            }
        }

        p {
            font-family: $font-stack-secondary;
            font-size: 2.4rem;
            text-align: center;
            color: $default-text-color;
            margin-bottom: 6rem;
        }
    }

    // CONTINUE IN ACCORDION
}
