/* 
* SECTION PLAN SELECTION 
*/
section.plan-selection {
    @media screen and (max-width: $phone-screen) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0 1rem 0 1rem;

        .plans {
            margin: 0 !important;

            .list-plans {
                .plan {
                    min-height: 9rem !important;
                    // width: 100%;

                    label {font-size: 1.1rem !important;}

                    .description {
                        p {
                            &:nth-child(1){font-size: 1.5rem !important;}
                            &:nth-child(2){font-size: 1.1rem !important;}
                            &:nth-child(3){
                                font-size: 1.1rem !important;
                                padding: 0.4rem;
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    .price {
                        padding-right: 2rem !important;
                        p {
                            font-size: 1.4rem !important;
                            margin: 0 0.7rem 0 1rem;
                        }

                        h1 {
                            font-size: 4rem !important;
                            line-height: 0.4rem !important;
                            // margin-right: 2rem;
                        }

                        em {font-size: 1.2rem !important;}
                    }
                }
            }
        }

        .services {
            margin: 6.5rem 0 1rem 0 !important;

            p { 
                font-size: 1.6rem;
                font-weight: bold;
                margin: 2.6rem 0 2rem 3rem;
            }

            dl {
                margin: 0 3rem 0 3rem !important;
                grid-template-columns: 1fr 2.8rem !important;

                dd {
                    font-size: 1.4rem;
                    margin-bottom: 1.7rem;
                    margin-left: 0 !important;
                }
            }
        }
    }

    margin-top: 12.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        font-family: $font-stack-primary;
        font-size: 1.8rem;
        font-weight: 700;
        margin-left: 5.5rem;
        margin-top: 2.6rem;
        color: $title-primary-color;
    }

    /* style for list of services included in plans */
    .services {
        background: $background-grey;
        border-radius: 1rem;
        flex-grow: 1;
        margin-left: 6rem;
        margin-right: 3.7rem;

        dl {
            /* list-style: none; */
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 6.5rem;
            margin-left: 1.5rem;
            margin-right: 5.8rem;
        }

        dd {
            font-family: $font-stack-secondary;
            font-weight: 600;
            font-size: 1.6rem;
            color: $default-text-color;
            margin-bottom: 1.1rem;

            &:last-child(-1) {
                margin-bottom: 3.1rem;
            }

            &.icon {
                background-repeat: no-repeat;
                background-image: url("../icons/check.svg");
                background-position: 99% 50%;
                font-size: 2.5rem;
            }

            &.icon::after {
                content: "\00a0";
            }
        }
    }

    /*  selection plan */
    .plans {
        background: transparent;
        border-radius: 10px;
        flex-grow: 1;
        margin-right: 6rem;

        .list-plans {
            display: grid;
            grid-template-rows: 1fr;
            gap: 1.3rem;

            .icon {
                padding: 2rem;
                flex-grow: 1;
                background-repeat: no-repeat;
                background-image: url("../icons/check-circle.svg");
                background-position: center center;
                font-size: 4rem;

                &::after {
                    content: "\00a0 \00a0 \00a0 \00a0";
                }
            }

            .description {
                flex-grow: 4;
                align-content: flex-start;
                justify-content: center;
                padding: 1.5rem 0 1.5rem 0;

                p {
                    margin: 0;
                    padding: 0;
                    text-align: left;
    
                    &:nth-child(1) {
                        font-family: $font-stack-primary;
                        font-weight: 700;
                        font-size: 1.8em;
                        color: $title-primary-color;
                        margin-left: 0.5rem;
                        margin-bottom: 0.6rem;
                    }
    
                    &:nth-child(2) {
                        font-family: "Open Sans";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.2em;
                        color: #9d9d9d;
                        margin: 0.6rem 0 1.4rem 0.5rem;
                    }
    
                    &:nth-child(3) {
                        font-family: "Open Sans";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.2em;
                        color: #d76908;
                        background: #fcddc2;
                        border-radius: 100px;
                        padding: 1rem;
                        margin-bottom: 1.5rem;
                        text-align: center;
                    }
                }
            }

            .plan {
                border: 1px solid $default-border-color;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                min-height: 11rem;
                cursor: pointer;

                label {
                    display: inline-block;
                    position: absolute;

                    font-family: $font-stack-secondary;
                    font-weight: 600;
                    font-size: 1.4rem;
                    text-align: center;

                    color: $text-color-white;
                    background: $backgroud-dark-grey;
                    
                    transform: translate(0, -50%);
                    /*
                    * using javascript to translate X position based on parent width
                    * the transform translate property just translate a elemente based on self size
                    */
                    padding: 0.8rem 2rem 0.8rem 2rem;
                    border-radius: 50px;
                }

                &.selected {
                    border: 4px solid $border-orange-color;

                    label {
                        color: $text-color-white;
                        background: $background-orage;
                    }

                    .icon {
                        background-repeat: no-repeat;
                        background-image: url("../icons/check-orange.svg");
                        background-position: center center;
                        font-size: 4rem;
                    }
                }

                .price {
                    padding: 0;
                    padding-top: 1.5rem;
                    flex-grow: 2;
                    display: flex;
                    flex-direction: row;
                    justify-content: center !important;
                    align-items: center !important;

                    p {
                        margin-right: 1rem;
                    }

                    h1 {
                        font-family: $font-stack-primary;
                        font-weight: 700;
                        font-size: $title-text-size;
                        color: $title-secondary-color;
                        text-align: right;
                        margin: 0;
                        padding: 0;
                        line-height: 1rem;
                    }

                    em {
                        font-size: 1.5rem;
                        color: $default-text-color;

                        &::before {
                            content: "\a";
                            white-space: pre;
                        }
                    }
                }
            }
        }
    }
}