@import "./base";
@import "./main_navbar";
@import "./section_main";
@import "./section_plan_selection";
@import "./section_footnote";
@import "./section_banner";
@import "./accordion";
@import "./section_faq";
@import "./section_video";
@import "./section_footer";

// WHEN IN MOBILE VIEW, REODER SECTIONS ELEMENTS
// (abandoned ideia, using js instead)
// @media screen and (max-width: $phone-screen) {
//     body {
//         // the nth-child(1) is the navbar
//         section:nth-child(2){ order: 2;} // main
//         section:nth-child(3){ order: 3;} // plan-selection
//         section:nth-child(4){ order: 4;} // footnote
//         section:nth-child(5){ order: 5;} // banner
//         section:nth-child(6){ order: 6;} // faq
//         section:nth-child(7){ order: 7;} // video
//         section:nth-child(8){ order: 8;} // footer
//     }
// }