/*
* BASE
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* default font family and size */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  /* for simple use of rem (relative size) */ }

/* flex in body to easier positioning of elements */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  margin: 0.1rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 4.5rem;
      font-weight: bold !important;
      line-height: 49px !important;
      margin: 0 2rem 0 2rem; } }
  h1.primary {
    color: #4c525a; }
  h1.secondary {
    color: #2f80ed; }

/* global styling for tag section 
 *   - padding margins for all sections */
/* 
* MAIN NAVBAR
*/
nav.main-navbar {
  height: auto;
  padding: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* 1/3 space for the logo */
  /* 2/3 space for link (more space to links) */
  /* display ul inline style */ }
  nav.main-navbar .mobile-toggle-menu input[type="checkbox"], nav.main-navbar .mobile-toggle-menu span {
    display: none; }
  @media screen and (max-width: 480px) {
    nav.main-navbar {
      padding: 1.3rem 2.1rem 0rem 2.1rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
      max-height: 5rem; }
      nav.main-navbar .nav-items-right .mobile-toggle-menu input[type="checkbox"], nav.main-navbar .nav-items-right .mobile-toggle-menu span {
        display: unset; }
      nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button span {
          z-index: 0;
          border-radius: 100px;
          background-color: #016699;
          height: 0.4rem;
          margin-bottom: 0.4rem;
          transform: translateY(-1rem);
          transition-property: transform opacity;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
          transition-delay: 0s; }
          nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button span:nth-child(2) {
            width: 20px; }
          nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button span:nth-child(3) {
            width: 16px; }
          nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button span:nth-child(4) {
            width: 12px; }
        nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button input[type="checkbox"] {
          z-index: 1;
          margin: 0;
          width: 2.5rem;
          height: 2.5rem;
          position: static;
          opacity: 0;
          transform: translateY(50%); }
          nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button input[type="checkbox"]:checked ~ span:nth-child(2) {
            position: static;
            width: 20px;
            transform: rotate(45deg) translate(-4px, 0); }
          nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button input[type="checkbox"]:checked ~ span:nth-child(3) {
            position: static;
            width: 20px;
            transform: rotate(-45deg) translate(6px, -9px); }
          nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button input[type="checkbox"]:checked ~ span:nth-child(4) {
            opacity: 0;
            position: static; }
          nav.main-navbar .nav-items-right .mobile-toggle-menu .toggle-button input[type="checkbox"]:checked ~ ul {
            visibility: visible;
            opacity: 1;
            transform: rotateX(0), translate(0, 0); }
      nav.main-navbar .nav-items-right ul {
        padding: 0;
        margin: 5rem 0 0 0;
        position: absolute;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
        left: 0;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        visibility: hidden;
        opacity: 0;
        transform: rotateX(90deg), translate(0, -100%);
        transition-property: transform opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s; }
        nav.main-navbar .nav-items-right ul li {
          margin: 0;
          padding: 1rem;
          text-align: center;
          width: 100%;
          border-top: 1px solid #E4E5E9; } }
  nav.main-navbar .nav-items-left {
    flex-grow: 1; }
  nav.main-navbar .nav-items-right {
    flex-grow: 2; }
  nav.main-navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right; }
    nav.main-navbar ul li {
      /* add space between links */
      margin: 0 1rem; }
      nav.main-navbar ul li:first-of-type {
        margin-left: 0; }
      nav.main-navbar ul li:last-of-type {
        margin-right: 0; }
      nav.main-navbar ul li a {
        text-decoration: none;
        color: #5f6a6c;
        font-size: 1.8rem;
        font-weight: 400; }
      nav.main-navbar ul li:last-child a {
        color: #14aaff; }

/*
* SECTION MAIN
*/
section.main {
  /* style for range slider */ }
  @media screen and (max-width: 480px) {
    section.main {
      padding-top: 6rem; }
      section.main p {
        font-size: 16px !important;
        font-style: normal;
        font-weight: normal;
        margin: 2.5rem 2rem 0 2rem;
        line-height: 22px !important; } }
  section.main p {
    font-family: "Open Sans", sans-serif;
    font-size: 2.4rem;
    text-align: center;
    color: #5f6a6c;
    margin-bottom: 6rem; }
  section.main .range-slider {
    padding-left: 10rem;
    padding-right: 10rem; }
    @media screen and (max-width: 480px) {
      section.main .range-slider {
        padding-left: 2rem;
        padding-right: 2rem; }
        section.main .range-slider label {
          width: 90%; }
          section.main .range-slider label p {
            display: block !important;
            font-size: 1.5rem !important;
            text-align: center; }
            section.main .range-slider label p em {
              font-size: 2rem !important;
              font-weight: bold !important; } }
    section.main .range-slider label {
      position: absolute;
      display: block; }
      section.main .range-slider label p {
        position: relative;
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left; }
        section.main .range-slider label p em {
          font-family: "Roboto", sans-serif;
          font-size: 3rem;
          font-weight: 700;
          margin-right: 1rem; }
    section.main .range-slider input[type="range"] {
      /* display: block; */
      -webkit-appearance: none;
      background-color: #F2F2F2;
      width: 100%;
      height: 1.5rem;
      border-radius: 10rem;
      margin-bottom: 2.5rem; }
      section.main .range-slider input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 80px;
        height: 50px;
        background: url("../icons/range-pin.svg");
        cursor: pointer; }

/* 
* SECTION PLAN SELECTION 
*/
section.plan-selection {
  margin-top: 12.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* style for list of services included in plans */
  /*  selection plan */ }
  @media screen and (max-width: 480px) {
    section.plan-selection {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding: 0 1rem 0 1rem; }
      section.plan-selection .plans {
        margin: 0 !important; }
        section.plan-selection .plans .list-plans .plan {
          min-height: 9rem !important; }
          section.plan-selection .plans .list-plans .plan label {
            font-size: 1.1rem !important; }
          section.plan-selection .plans .list-plans .plan .description p:nth-child(1) {
            font-size: 1.5rem !important; }
          section.plan-selection .plans .list-plans .plan .description p:nth-child(2) {
            font-size: 1.1rem !important; }
          section.plan-selection .plans .list-plans .plan .description p:nth-child(3) {
            font-size: 1.1rem !important;
            padding: 0.4rem;
            margin-bottom: 1rem; }
          section.plan-selection .plans .list-plans .plan .price {
            padding-right: 2rem !important; }
            section.plan-selection .plans .list-plans .plan .price p {
              font-size: 1.4rem !important;
              margin: 0 0.7rem 0 1rem; }
            section.plan-selection .plans .list-plans .plan .price h1 {
              font-size: 4rem !important;
              line-height: 0.4rem !important; }
            section.plan-selection .plans .list-plans .plan .price em {
              font-size: 1.2rem !important; }
      section.plan-selection .services {
        margin: 6.5rem 0 1rem 0 !important; }
        section.plan-selection .services p {
          font-size: 1.6rem;
          font-weight: bold;
          margin: 2.6rem 0 2rem 3rem; }
        section.plan-selection .services dl {
          margin: 0 3rem 0 3rem !important;
          grid-template-columns: 1fr 2.8rem !important; }
          section.plan-selection .services dl dd {
            font-size: 1.4rem;
            margin-bottom: 1.7rem;
            margin-left: 0 !important; } }
  section.plan-selection p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 5.5rem;
    margin-top: 2.6rem;
    color: #4c525a; }
  section.plan-selection .services {
    background: #F2F2F2;
    border-radius: 1rem;
    flex-grow: 1;
    margin-left: 6rem;
    margin-right: 3.7rem; }
    section.plan-selection .services dl {
      /* list-style: none; */
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 6.5rem;
      margin-left: 1.5rem;
      margin-right: 5.8rem; }
    section.plan-selection .services dd {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 1.6rem;
      color: #5f6a6c;
      margin-bottom: 1.1rem; }
      section.plan-selection .services dd:last-child(-1) {
        margin-bottom: 3.1rem; }
      section.plan-selection .services dd.icon {
        background-repeat: no-repeat;
        background-image: url("../icons/check.svg");
        background-position: 99% 50%;
        font-size: 2.5rem; }
      section.plan-selection .services dd.icon::after {
        content: "\00a0"; }
  section.plan-selection .plans {
    background: transparent;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 6rem; }
    section.plan-selection .plans .list-plans {
      display: grid;
      grid-template-rows: 1fr;
      gap: 1.3rem; }
      section.plan-selection .plans .list-plans .icon {
        padding: 2rem;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-image: url("../icons/check-circle.svg");
        background-position: center center;
        font-size: 4rem; }
        section.plan-selection .plans .list-plans .icon::after {
          content: "\00a0 \00a0 \00a0 \00a0"; }
      section.plan-selection .plans .list-plans .description {
        flex-grow: 4;
        align-content: flex-start;
        justify-content: center;
        padding: 1.5rem 0 1.5rem 0; }
        section.plan-selection .plans .list-plans .description p {
          margin: 0;
          padding: 0;
          text-align: left; }
          section.plan-selection .plans .list-plans .description p:nth-child(1) {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 1.8em;
            color: #4c525a;
            margin-left: 0.5rem;
            margin-bottom: 0.6rem; }
          section.plan-selection .plans .list-plans .description p:nth-child(2) {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 1.2em;
            color: #9d9d9d;
            margin: 0.6rem 0 1.4rem 0.5rem; }
          section.plan-selection .plans .list-plans .description p:nth-child(3) {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2em;
            color: #d76908;
            background: #fcddc2;
            border-radius: 100px;
            padding: 1rem;
            margin-bottom: 1.5rem;
            text-align: center; }
      section.plan-selection .plans .list-plans .plan {
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        min-height: 11rem;
        cursor: pointer; }
        section.plan-selection .plans .list-plans .plan label {
          display: inline-block;
          position: absolute;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 1.4rem;
          text-align: center;
          color: #fff;
          background: #cdcdcd;
          transform: translate(0, -50%);
          /*
          * using javascript to translate X position based on parent width
          * the transform translate property just translate a elemente based on self size
          */
          padding: 0.8rem 2rem 0.8rem 2rem;
          border-radius: 50px; }
        section.plan-selection .plans .list-plans .plan.selected {
          border: 4px solid #f2994a; }
          section.plan-selection .plans .list-plans .plan.selected label {
            color: #fff;
            background: #f2994a; }
          section.plan-selection .plans .list-plans .plan.selected .icon {
            background-repeat: no-repeat;
            background-image: url("../icons/check-orange.svg");
            background-position: center center;
            font-size: 4rem; }
        section.plan-selection .plans .list-plans .plan .price {
          padding: 0;
          padding-top: 1.5rem;
          flex-grow: 2;
          display: flex;
          flex-direction: row;
          justify-content: center !important;
          align-items: center !important; }
          section.plan-selection .plans .list-plans .plan .price p {
            margin-right: 1rem; }
          section.plan-selection .plans .list-plans .plan .price h1 {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-size: 6rem;
            color: #2f80ed;
            text-align: right;
            margin: 0;
            padding: 0;
            line-height: 1rem; }
          section.plan-selection .plans .list-plans .plan .price em {
            font-size: 1.5rem;
            color: #5f6a6c; }
            section.plan-selection .plans .list-plans .plan .price em::before {
              content: "\a";
              white-space: pre; }

/*
* SECTION FOOTNOTE
*/
section.footnote {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-left: 11.7rem;
  color: #9D9D9D; }
  @media screen and (max-width: 480px) {
    section.footnote {
      font-size: 1.1rem !important;
      text-align: center !important;
      margin: 0 !important;
      padding: 0 !important; } }

/* 
* SECTION BANNER
* banner fixed on bottom until scroll 
*/
section.banner {
  /* display: none; */
  display: flex;
  flex-direction: row;
  min-height: 15rem;
  top: calc(100vh - 15rem);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.14);
  padding: 0 6rem 0 6rem;
  margin-bottom: 7rem;
  position: fixed; }
  @media screen and (max-width: 480px) {
    section.banner {
      flex-direction: column-reverse !important;
      padding: 0;
      margin: 0;
      min-height: 12rem !important;
      top: calc(100vh - 12rem) !important; }
      section.banner p {
        font-size: 1.4rem !important;
        text-align: center !important; }
        section.banner p:nth-child(1) {
          margin: 2rem 6rem 2.2rem 6rem !important; }
        section.banner p:nth-child(2) {
          margin: 4rem 5rem 0rem 5rem !important; }
        section.banner p a {
          font-size: 1.4rem !important; }
          section.banner p a.link.default::before {
            content: '\A';
            display: block; } }
  section.banner p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #5f6a6c;
    flex-grow: 1; }
    section.banner p:nth-child(2) {
      text-align: right;
      margin-right: 12rem; }
  section.banner a {
    text-decoration: none;
    cursor: pointer; }
    section.banner a.orange.button {
      background: #f2994a;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      text-align: center;
      padding: 1.1rem 9rem 1.1rem 9rem;
      border-radius: 50px; }
  section.banner .link.default {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #14aaff; }

.unpin-banner {
  position: unset !important; }

/* 
* ACCORDION
* this component is located inside FAQ section
*
* based on tutorial published in link below
* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol 
* this piece of code is not copied from any framework.
*/
.accordion {
  padding: 3.6rem 4rem 3.6rem 4rem;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #5f6a6c;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; }
  @media screen and (max-width: 480px) {
    .accordion {
      padding: 3rem 2rem 2rem 2rem !important;
      font-size: 1.4rem !important; }
      .accordion .panel p {
        font-size: 1.4rem !important; } }
  .accordion:hover {
    background-color: #F2F2F2; }
  .accordion:after {
    content: url("../icons/arrow-right.svg");
    float: right; }
  .accordion.active {
    background-color: #F2F2F2;
    border-radius: 10px 10px 0 0;
    padding: 3.6rem 4rem 0 4rem; }
  .accordion.active:after {
    content: url("../icons/arrow-up.svg"); }

.panel {
  font-family: "Open Sans", sans-serif;
  color: #5f6a6c;
  background-color: #F2F2F2;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: left;
  border-radius: 0 0 10px 10px;
  max-height: 0;
  overflow: hidden;
  transition-property: max-height, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; }
  @media screen and (max-width: 480px) {
    .panel p {
      font-size: 1.4rem !important;
      line-height: 1.9rem !important; } }

.active-panel {
  padding: 0 4rem 3.6rem 4rem; }

/* 
* SECTION FAQ 
*/
section.faq {
  margin-left: 4.2rem;
  margin-right: 4.2rem; }
  @media screen and (max-width: 480px) {
    section.faq {
      margin-left: 2rem;
      margin-right: 2rem; }
      section.faq .titles h1 {
        font-size: 3rem !important;
        line-height: 3.5rem !important; }
      section.faq .titles p {
        font-size: 1.6rem !important;
        line-height: 2.2rem !important; } }
  section.faq .titles h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    margin: 0.1rem;
    text-align: center; }
    section.faq .titles h1.primary {
      color: #4c525a; }
    section.faq .titles h1.secondary {
      color: #2f80ed; }
  section.faq .titles p {
    font-family: "Open Sans", sans-serif;
    font-size: 2.4rem;
    text-align: center;
    color: #5f6a6c;
    margin-bottom: 6rem; }

/*  
* SECTION VIDEO
*/
section.video {
  margin: 0;
  padding: 0; }

.gradient-divisor {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #fff 50%, #F2F2F2 5.1%, #F2F2F2 100%); }

.blue-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #084CBD;
  border: none;
  border-radius: 2rem;
  margin: 10rem 12rem 10rem 12rem;
  min-height: 40rem; }
  @media screen and (max-width: 480px) {
    .blue-container {
      flex-direction: column;
      margin: 5.2rem 1rem 0 1rem; }
      .blue-container .texts {
        padding: 0 !important;
        margin: 0 !important;
        display: block; }
        .blue-container .texts h1 {
          margin: 4rem 1rem 1rem 1rem !important;
          font-size: 2.5rem !important;
          line-height: 2.9rem !important;
          text-align: center !important; }
        .blue-container .texts p {
          text-align: center !important;
          font-size: 1.4rem !important;
          line-height: 1.9rem !important;
          margin: 0 1rem 0 1rem !important; }
      .blue-container .video-frame {
        padding: 0 !important;
        margin: 3rem 3.5rem 4rem 3.5rem !important;
        display: block; } }
  .blue-container .texts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 8.5rem 0 11.5rem 10rem; }
    .blue-container .texts h1 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 3.6rem;
      padding: 0;
      margin: 0;
      text-align: left; }
    .blue-container .texts p {
      font-family: "Open Sans", sans-serif;
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      padding: 0;
      margin: 2rem 0 0 0; }
  .blue-container .video-frame {
    flex-grow: 1;
    padding: 7.4rem 11.4rem 10.6rem 6rem; }
    .blue-container .video-frame iframe {
      height: 20rem;
      width: 30rem;
      border: 0.9rem solid #56CCF2;
      border-radius: 20px; }

.video-links {
  margin: 0;
  padding-bottom: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F2F2F2; }
  @media screen and (max-width: 480px) {
    .video-links {
      padding-bottom: 6rem !important; }
      .video-links h1 {
        margin: 6rem 2rem 0 2rem !important;
        font-size: 3.5rem !important;
        line-height: 4rem; }
      .video-links .buttons .button {
        display: block;
        margin-right: 3.8rem !important;
        margin-left: 3.8rem !important; }
        .video-links .buttons .button:nth-child(1) {
          margin-top: 4rem !important;
          margin-bottom: 2rem !important; } }
  .video-links h1 {
    margin-top: 10rem;
    margin-bottom: 5.3rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    color: #2f80ed; }
  .video-links .buttons .button {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: #5f6a6c;
    background: #E4E5E9;
    border: none;
    border-radius: 100px;
    padding: 1.1rem 3.3rem 1.1rem 3.3rem; }
    .video-links .buttons .button:first-child {
      background-color: #1296FC;
      background-repeat: no-repeat;
      background-position: 3.3rem 50%;
      padding-left: 5.3rem;
      background-image: url("../icons/play.svg");
      color: #fff;
      margin-right: 2rem; }

/* 
* FOOTER SECTION 
*/
section.footer {
  margin: 0;
  padding: 9.7rem 2rem 4.7rem 2rem;
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e4e5e9;
  background-color: #F2F2F2; }
  @media screen and (max-width: 480px) {
    section.footer {
      padding-top: 0 !important; }
      section.footer .footer-links {
        padding: 0 !important;
        margin: 6rem 4rem 0rem 4rem !important;
        flex-direction: column !important; }
        section.footer .footer-links .column img {
          margin-left: 0 !important;
          margin-right: 0 !important; }
        section.footer .footer-links .column:nth-child(2) {
          display: none; }
        section.footer .footer-links .column:nth-child(3) {
          display: none; }
        section.footer .footer-links .column:nth-child(4) {
          display: none; }
      section.footer .blue-footer {
        flex-direction: column !important;
        margin: 6rem 1rem 5.1rem 1rem !important; }
        section.footer .blue-footer .info p {
          font-size: 1.2rem !important;
          line-height: 1.6rem !important; }
        section.footer .blue-footer .info p:nth-child(1) {
          margin-top: 4rem !important;
          margin-left: 3rem !important;
          margin-right: 3rem !important;
          margin-bottom: 0 !important; }
        section.footer .blue-footer .info p:nth-child(2) {
          margin-top: 1rem !important;
          margin-left: 3rem !important;
          margin-right: 15rem !important;
          margin-bottom: 1rem !important; }
        section.footer .blue-footer .info p:nth-child(3) {
          margin-top: 0 !important;
          margin-left: 3rem !important;
          margin-right: 7.5rem !important;
          margin-bottom: 2rem !important; }
        section.footer .blue-footer .social-links {
          width: 100%;
          margin-left: 3rem !important;
          margin-right: 0 !important;
          margin-bottom: 4rem !important;
          justify-content: flex-start !important; } }
  section.footer .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 8.3rem;
    padding-right: 7.5rem; }
    section.footer .footer-links .column {
      flex-grow: 1; }
      section.footer .footer-links .column:first-child img {
        margin-left: 30%;
        margin-right: 1rem; }
      section.footer .footer-links .column h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2rem;
        color: #2D9CDB;
        margin-bottom: 3.1rem;
        line-height: 0; }
      section.footer .footer-links .column p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
        color: #5f6a6c;
        margin-bottom: 1.2rem; }
  section.footer .blue-footer {
    margin: 5.8rem 2rem 0 2rem;
    width: 100%;
    min-height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2F80ED;
    color: #fff;
    border-radius: 20px; }
    section.footer .blue-footer .info p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.8rem;
      margin-left: 7.9rem; }
    section.footer .blue-footer em.heart.icon::before {
      content: url("../icons/heart.svg"); }
    section.footer .blue-footer .social-links {
      margin-right: 8.7rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      section.footer .blue-footer .social-links a {
        margin-right: 1.1rem; }
        section.footer .blue-footer .social-links a:last-of-type {
          margin-right: 0; }

/*# sourceMappingURL=style.css.map */
